{% extends 'base.html.twig' %}

{% block title %}Secretaria{% endblock %}

{% block body %}
    <h3>Listagem de Secretarias</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for secretarium in secretarias %}
            <tr>
                <td>{{ secretarium.id }}</td>
                <td>{{ secretarium.nome }}</td>
                <td>{{ secretarium.endereco }}</td>
                <td>{{ secretarium.telefone }}</td>
                <td>{{ secretarium.email }}</td>
                <td>
                    <a href="{{ path('secretaria_ver', {'id': secretarium.id}) }}"><i class="fa fa-file-alt" aria-hidden="true"></i></a>
                    <a href="{{ path('secretaria_editar', {'id': secretarium.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                    <a href="{{ path('secretaria_delete', {'id': secretarium.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('secretaria_novo') }}"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo</button></a>
{% endblock %}
